# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
Pearing App.xcodeproj/xcuserdata/Toohey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Podfile.lock

Pods/Pods.xcodeproj/project.pbxproj

Pods/BuildHeaders/AMSlideOutController/AMSlideOutGlobals.h

Pods/BuildHeaders/AMSlideOutController/AMSlideTableCell.h

Pods/BuildHeaders/AMSlideOutController/AMSlideOutNavigationController.h

Pods/BuildHeaders/AMSlideOutController/AMSlideTableHeader.h

Pods/BuildHeaders/AMSlideOutController/AMTableView.h

Pods/Manifest.lock

Pods/Pods-acknowledgements.markdown

Pods/Pods-acknowledgements.plist

Pods/Pods-AMSlideOutController-dummy.m

Pods/Pods-AMSlideOutController-prefix.pch

Pods/Pods-AMSlideOutController-Private.xcconfig

Pods/Pods-AMSlideOutController.xcconfig

Pods/Pods-dummy.m

Pods/Pods-environment.h

Pods/Pods-resources.sh

Pods/Pods.xcconfig

Pearing App.xcodeproj/xcuserdata/Toohey.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
